@{
    ViewBag.Title = "Index";
}
<body class="body">
    <div class="well-sm">
        <div class="div">
            <h1>HW03 u21473669</h1>
            <h2>About my project</h2>
        </div>
    </div>

    <div class="well-sm">
        <p>
            This sample shows a student how temporary data can be created in a txt file as well as how files are created, updated, uploaded, and deleted in MVC. The file uploading section shows a student how to upload single files as well as how to upload multiple files by means of different approaches.
        </p>
        <p>
            As a secondary part, students are also shown how to display and delete the files that was loaded on to the server.
        </p>
        <p>
            All of this is completed without the involvement of a database.
        </p>
    </div>
    <style>
        .body {
            background-color: rgba(136, 143, 143, 0.8);
        }

        .div {
            background-color: rgba(35, 216, 219);
            border: 5px solid rgba(245, 117, 5);
            text-align: center;   
        }
    </style>
</body>