@{
    ViewBag.Title = "Index";
}
<body class="body">
    <div class="well-sm">
        <div class="div">
            <h1>HW03 u21473669</h1>
            <h2>About me</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">

            <div class="card" style="width: 40rem;">
                <div class="well-sm">
                    <h3 style="color:azure">My Bio</h3>

                    <p style="font-size:20px;">
                        My name is Sulaimaan Abram ,I am 20 years old and I am a second year Information Sytems Student.I grew up in Centurian Pretoria and attanded the
                        TMS School in Laudium .I have a great love for the outdoors and spend most of my free time when not coding at the dam fishing.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">

        <div class="card" style="width: 40rem;">
            <img width="250" height="250" src="~/FileUploading/Images/burger3.png" class="card-img-top" id="pics" alt="...">



           
        </div>
        </div>







            <style>
                .body {
                    background-color: rgba(136, 143, 143, 0.8);
                }

                .div {
                    background-color: rgba(35, 216, 219);
                    border: 5px solid rgba(245, 117, 5);
                    text-align: center;
                }
            </style>
</body>