@{
    ViewBag.Title = "Uploader";
}
@*Display project info and choose file option*@
<body class="body">
    <div class="div">
        <h2>Single File Upload</h2>
        <p>This is for UPLOADING files to all the folders.</p>
    </div>
    <div class="row">
        <div class="col-xs-6">

            <div class="card" style="width: 40rem;">
                <br />
                <br />
                <h2 style="color:azure">Description of my system</h2>

                <p style="font-size:20px;">
                    This system which I build contains Five pages.The first page which is the About 
                    page contains my biography.
                    The second page which is this page is my Home page ,it is the page where the user
                    is able to choose which files to upload.
                    The next page is my files page ,on this page  all the PDF and Word documents
                    which were uploaded will be found.
                    The forth pages is my image page where all the images uploaded will be found ,the
                    user has the option of deleting,downloading
                    and viewing in a fancy box the images ,The last page is the Videos page ,which has the same functionality as the image page .
                </p>

                <div class="well-sm">
                    <div class="form-horizontal">
                        @using (Html.BeginForm("Index", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))

                        // an encoding type that allows files to be sent through a POST.
                        // Quite simply, without this encoding the files cannot be sent through POST.
                        {
                            <div><input class="btn btn-info" type="file" name="files" /></div>
                            <br />
                            <div><input class="btn btn-info" type="submit" value="Upload" /></div>




                        }

                    </div>
                    <br />
                </div>

            </div>


        </div>

        

       
       

        <div class="col-xs-6">

            <div class="card" style="width: 40rem;">
                <div class="card-header" id="m2"></div>
                <br />
                <br />
                <h2 style="color:azure">Option selection</h2>
                @using (Html.BeginForm("Index", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))

                // an encoding type that allows files to be sent through a POST.
                // Quite simply, without this encoding the files cannot be sent through POST.
                {





                //radio buttons
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                        <label class="form-check-label" for="flexRadioDefault1">Document </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="picture" />
                        <label class="form-check-label" for="flexRadioDefault2"> Image </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" />
                        <label class="form-check-label" for="flexRadioDefault3"> Video </label>
                    </div>
                    <br />



                }
            </div>
        </div>
    </div>

    <style>


        .body {
            background-color: rgba(136, 143, 143, 0.8);
        }

        .div {
            background-color: rgba(35, 216, 219);
            border: 5px solid rgba(245, 117, 5);
            text-align: center;
        }
    </style>
</body>